.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: rgba(255,255,255,.3);
  z-index: 100;
}

.player-bar a {
  font-size: 1.1rem;
  vertical-align: middle;
}

.player-bar a,
.player-bar a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.player-bar .container {
  display: table;
  padding: 0;
  width: 90%;
  min-height: 100%;
}

.player-bar .control-group {
  display: table-cell;
  vertical-align: middle;
}

/* Play / Next / Previous Buttons */
.player-bar .main-controls {
  width: 25%;
  text-align: left;
  padding-right: 1rem;
}

.player-bar .main-controls .previous { margin-right: 16.5%; }

.player-bar .main-controls .play-pause {
  margin-right: 15%;
  font-size: 1.6rem;
}
/* Play / Next / Previous Buttons */

/* Currently playing */
.player-bar .currently-playing {
  width: 50%;
  text-align: center;
  position: relative;
}

.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-name,
.player-bar .currently-playing .artist-song-mobile {
  text-align: center;
  font-size: .75rem;
  margin: 0;
  position: absolute;
  width: 100%;
  font-weight: 300;
}

.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-song-mobile { top: 1.1rem; }

.player-bar .currently-playing .artist-name { bottom: 1.1rem; }

.player-bar .currently-playing .artist-song-mobile { display: none; }
/* Currently playing */

/* Seek Bar */
.seek-control {
  position: relative;
  font-size: .8rem;
}

.seek-control .current-time {
  position: absolute;
  top: .5rem;
}

.seek-control .total-time {
  position: absolute;
  right: 0;
  top: .5rem;
}

.seek-bar {
  height: .25rem;
  background-color: rgba(255,255,255,.3);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.seek-bar .fill {
  background-color: white;
  width: 0;
  height: .25rem;
  border-radius: 2px;
}

.seek-bar .thumb {
  position: absolute;
  height: .5rem;
  width: .5rem;
  background-color: white;
  left: 0;
  top: 50%;
  margin-left: -.25rem;
  margin-top: -.25rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.seek-bar:hover .thumb {
  width: 1.1rem;
  height: 1.1rem;
  margin-top: -.5rem;
  margin-left: -.5rem;
}
/* Seek Bar */

.player-bar .volume {
  width: 25%;
  text-align: right;
}
