html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%; /* minimum height of the body is 100% */
}

body.landing {
    background-color: rgb(58,23,63);
}

/************************* NAVBAR ****************************/

.navbar {
    padding: .5rem; /* rem represents the font size of the root element (html) */
    background-color: rgb(101,18,95);
}

.navbar .logo {
    position: relative;
    left: 2rem;
}

/************************* HERO CONTENT ****************************/

.hero-content {
    position: relative;
    min-height: 600px;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-content .hero-title {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-shadow: 1px 1px 0px rgb(58,23,63); /* Shadow underneath text for improved readability */
}
