/* Global styles */

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%; /* minimum height of the body is 100% */
}

body.landing { background-color: rgb(58,23,63); }

h1 { display: inline-block; }

/************************* NAVBAR ****************************/

.navbar {
  position: relative;
  padding: .5rem; /* rem represents the font size of the root element (html) */
  background-color: rgba(101,18,95,.5);
  z-index: 1;
}

.navbar .logo {
  position: relative;
  left: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255,255,255);
}

.navbar .links-container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  color: white;
  text-decoration: none;
}

.links-container .navbar-link {
  display: table-cell;
  position: relative;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: middle;
  color: white;
  font-size: .625rem;
  letter-spacing: .05rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.links-container
.navbar-link:hover { color: rgb(233,50,117); }
.navbar-link:active { background-color: rgb(255,255,255); }

/************************* HERO CONTENT ****************************/

.hero-content {
  position: relative;
  min-height: 600px;
  background-image: url(images/backgrounds/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-content .hero-title {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .5rem;
  text-shadow: 1px 1px 0px rgb(58,23,63); /* Shadow underneath text for improved readability */
  /* Animation for hero-title */
  opacity: 0;
  -webkit-transform: scaleX(.9) translateY(3rem);
  -moz-transform: scaleX(.9) translateY(3rem);
  transform: scaleX(.9) translateY(3rem);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  transition-delay: .2s;
  /* Animation for hero-title */
}

/************************* SELLING POINTS ****************************/

.selling-points { position: relative; }

.point {
  position: relative;
  padding: 2rem;
  text-align: center;
  /* Animation for selling points */
  opacity: 0;
  -webkit-transform: scaleX(.9) translateY(3rem);
  -moz-transform: scaleX(.9) translateY(3rem);
  transform: scaleX(.9) translateY(3rem);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  transition-delay: .2s;
  /* Animation for selling points */
}

.point .point-title { font-size: 1.25rem; }

.ion-music-note,
.ion-radio-waves,
.ion-iphone {
    color: rgb(233,50,117);
    font-size: 5rem;
}

/************************* Media Queries ****************************/

.container {
  margin: 0 auto;
  max-width: 64rem;
}

.container.narrow { max-width: 56rem; }

/* Medium and Small screens */
@media (min-width: 640px) {
  html { font-size: 112%; }

  .column {
    float: left; /* Pulls floated items out of normal document flow */
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

/* Large screens */
@media (min-width: 1024px) {
  html { font-size: 120%; }
}
